{{ define "Base" }}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {{/*        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://go-echarts.github.io/go-echarts-assets/assets/echarts.min.js https://unpkg.com/htmx.org@1.9.10/dist/htmx.min.js https://unpkg.com/htmx.org/dist/ext/response-targets.js;">*/}}
        <title>Budget Tracker</title>
        <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts.min.js"
                type="text/javascript"></script>
        <script src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.min.js" type="text/javascript"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js" type="text/javascript"></script>
        <link href="/static/index.css" rel="stylesheet"/>
        <script src="/static/theme.js" type="text/javascript" defer></script>
        <script src="/preline/preline.js"></script>

    </head>

    <body class="dark:bg-gray-900">
    {{block "NavBar" .}}

    {{end}}
    <div class="py-3 flex items-center text-sm text-gray-800 before:flex-[1_1_0%] before:border-t before:border-gray-200 before:me-6 after:flex-[1_1_0%] after:border-t after:border-gray-200 after:ms-6 dark:text-white dark:before:border-gray-600 dark:after:border-gray-600">
        <a href="/"><h1 class="text-4xl dark:text-white">Budget tracker</h1></a>
        <button type="button"
                class="px-3 hs-dark-mode-active:hidden block hs-dark-mode group flex items-center text-gray-600 hover:text-blue-600 font-medium dark:text-gray-400 dark:hover:text-gray-500"
                data-hs-theme-click-value="dark">
            <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-6 h-6" width="24" height="24"
                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                 stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"/>
                <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"/>
            </svg>
        </button>
        <button type="button"
                class="px-3 hs-dark-mode-active:block hidden hs-dark-mode group flex items-center text-gray-600 hover:text-blue-600 font-medium dark:text-gray-400 dark:hover:text-gray-500"
                data-hs-theme-click-value="light">
            <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-6 h-6" width="24" height="24"
                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                 stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"/>
            </svg>
        </button>
    </div>

    {{block "content" .}}
        <p class="dark:text-white">Here will have the content</p>
    {{end }}
    <div class="py-3 flex items-center text-sm text-gray-800 before:flex-[1_1_0%] before:border-t before:border-gray-200 before:me-6 after:flex-[1_1_0%] after:border-t after:border-gray-200 after:ms-6 dark:text-white dark:before:border-gray-600 dark:after:border-gray-600">
        <h2 class="text-3xl dark:text-white">FAQ</h2>
    </div>
    <ul class="max-w-xs flex flex-col divide-y divide-gray-200 dark:divide-gray-700">
        <li class="inline-flex items-center gap-x-2 py-1 px-4 text-lg font-medium text-gray-800 dark:text-white">
            <details
                    class="open:bg-white dark:open:bg-slate-900 open:ring-1 open:ring-black/5 dark:open:ring-white/10 open:shadow-lg p-6 rounded-lg">
                <summary class="text-sm leading-6 text-slate-900 dark:text-white font-semibold select-none">
                    Why use Budget tracker?
                </summary>
                <div class="mt-3 text-sm leading-6 text-slate-600 dark:text-slate-400">
                    <p>
                        If you are in need of simple budget tracker to walk you through the day
                        We are here to help you
                    </p>
                </div>
            </details>
        </li>
        <li class="inline-flex items-center gap-x-2 py-1 px-4 text-sm font-medium text-gray-800 dark:text-white">
            <details
                    class="open:bg-white dark:open:bg-slate-900 open:ring-1 open:ring-black/5 dark:open:ring-white/10 open:shadow-lg p-6 rounded-lg">
                <summary class="text-sm leading-6 text-slate-900 dark:text-white font-semibold select-none">
                    Why use Budget tracker?
                </summary>
                <div class="mt-3 text-sm leading-6 text-slate-600 dark:text-slate-400">
                    <p>
                        If you are in need of simple budget tracker to walk you through the day
                        We are here to help you
                    </p>
                </div>
            </details>
        </li>
        <li class="inline-flex items-center gap-x-2 py-1 px-4 text-sm font-medium text-gray-800 dark:text-white">
            <details
                    class="open:bg-white dark:open:bg-slate-900 open:ring-1 open:ring-black/5 dark:open:ring-white/10 open:shadow-lg p-6 rounded-lg">
                <summary class="text-sm leading-6 text-slate-900 dark:text-white font-semibold select-none">
                    Why use Budget tracker?
                </summary>
                <div class="mt-3 text-sm leading-6 text-slate-600 dark:text-slate-400">
                    <p>
                        If you are in need of simple budget tracker to walk you through the day
                        We are here to help you
                    </p>
                </div>
            </details>
        </li>
    </ul>

    </body>
    </html>
{{ end }}
