{{ define "User-Form" }}
    <form class="grid place-items-center">

        {{block "Input" "Email"}}
        {{end}}
        {{block "Input" "Username"}}
        {{end}}

        {{$addonID:= uuidv4}}
        <div class="relative max-w-sm w-full" data-hs-toggle-password-group>

            {{ block "Strong-Password" $addonID}}
            {{end}}

            <div class="relative max-w-sm w-full">
                <input
                        type="password"
                        name="repassword"
                        id="hs-floating-underline-input-repassword-{{$addonID}}"
                        class="peer block w-full border-b-2 border-x-transparent border-b-gray-200 border-t-transparent bg-transparent px-0 py-4 text-sm placeholder:text-transparent autofill:pb-2 autofill:pt-6 focus:border-x-transparent focus:border-b-blue-500 focus:border-t-transparent focus:pb-2 focus:pt-6 focus:ring-0 disabled:pointer-events-none disabled:opacity-50 dark:border-b-gray-700 dark:text-gray-400 dark:focus:border-b-gray-600 dark:focus:ring-gray-600 [&:not(:placeholder-shown)]:pb-2 [&:not(:placeholder-shown)]:pt-6"
                        placeholder=Re-Password
                />
                <label
                        for="hs-floating-underline-input-repassword-{{$addonID}}"
                        class="pointer-events-none absolute start-0 top-0 h-full truncate border border-transparent px-0 py-4 text-sm transition duration-100 ease-in-out peer-focus:-translate-y-1.5 peer-focus:text-xs peer-focus:text-gray-500 peer-disabled:pointer-events-none peer-disabled:opacity-50 peer-[:not(:placeholder-shown)]:-translate-y-1.5 peer-[:not(:placeholder-shown)]:text-xs peer-[:not(:placeholder-shown)]:text-gray-500 dark:text-white"
                >Re-Password</label
                >
                <button type="button" data-hs-toggle-password='{
          "target": ["#hs-floating-underline-input-repassword-{{$addonID}}", "#hs-strong-password-with-indicator-and-hint-in-popover-{{$addonID}}"]
        }'
                        class="absolute top-0 end-0 p-3.5 rounded-e-md dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                    <svg class="flex-shrink-0 w-3.5 h-3.5 text-gray-400 dark:text-neutral-600" width="24"
                         height="24"
                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round">
                        <path class="hs-password-active:hidden" d="M9.88 9.88a3 3 0 1 0 4.24 4.24"/>
                        <path class="hs-password-active:hidden"
                              d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"/>
                        <path class="hs-password-active:hidden"
                              d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"/>
                        <line class="hs-password-active:hidden" x1="2" x2="22" y1="2" y2="22"/>
                        <path class="hidden hs-password-active:block"
                              d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"/>
                        <circle class="hidden hs-password-active:block" cx="12" cy="12" r="3"/>
                    </svg>
                </button>
            </div>
        </div>
        <div id="any-errors-register"></div>
        <button type="button" hx-post="/auth/register" hx-target-error="#any-errors-register"
                class="my-3 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
            Submit
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-up" width="24"
                 height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                 stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M9 20v-8h-3.586a1 1 0 0 1 -.707 -1.707l6.586 -6.586a1 1 0 0 1 1.414 0l6.586 6.586a1 1 0 0 1 -.707 1.707h-3.586v8a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"/>
            </svg>
        </button>
    </form>
{{ end }}
